assets/XML Configuration/models/model.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="model">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="textures">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="texture" minOccurs="1" maxOccurs="unbounded">
								<xs:complexType>
									<xs:attribute name="path" type="xs:string" use="required"/>
									<xs:attribute name="pathIcon" type="xs:string" use="required"/>
									<xs:attribute name="pathShadow" type="xs:string" use="optional"/>
									<xs:attribute name="screenOrder" type="xs:integer" use="required"/>
									<xs:attribute name="priority" type="xs:integer" use="required"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>		
			</xs:sequence>
			<xs:attribute name="pathModel" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
</xs:schema>