assets/XSD/repository.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="repository">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="family" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="iconPath" type="xs:anyURI"/>
							<xs:element name="description" type="xs:string"/>
							<xs:element name="url" type="xs:anyURI"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
