assets/Locale/language.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="metadata">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="string" minOccurs="1" maxOccurs="unbounded" type="stringType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:complexType name="stringType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="id" type="xs:ID" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	  </xs:complexType>
</xs:schema>

