assets/XML Configuration/configuration.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!ELEMENT models (man*, woman*)>
<!ELEMENT man (objects, model)>
<!ELEMENT objects (skin+, eyes+, tshirt+, trouser+, shoes+)>
<!ELEMENT skin (path)>
<!ELEMENT eyes (path)>
<!ELEMENT tshirt (pathColor, pathShadow)>
<!ELEMENT trouser (pathColor, pathShadow)>
<!ELEMENT shoes (pathColor, pathShadow)>
<!ELEMENT path (#PCDATA)>
<!ELEMENT pathColor (#PCDATA)>
<!ELEMENT pathShadow (#PCDATA)>
<!ELEMENT model (path)>
<!ELEMENT woman (objects, model)>